.App {
  text-align: center;
}

.loginbutton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 69px;
  background-color: transparent;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.signout {
  position: absolute;
  top: 0;
  right: 0;
}

.App-link {
  color: #61dafb;
}
